body {
  font-size: 1.4em;
}
table {
  border-collapse: collapse;
}

td {
  width: 2em;
  height: 2em;
  text-align: center;
}

.border-left {
  border-left: 1px solid black;
}

.border-top {
  border-top: 1px solid black;
}

.border-bottom {
  border-bottom: 1px solid black;
}

.bold {
  font-weight: bold;
}

.dim {
  color: #ccc;
}

.orange {
  color: purple;
  font-weight: bold;
}

.green {
  color: green;
  font-weight: bold;
}

.blue {
  color: blue;
  font-weight: bold;
}

.red {
  color: red;
}
