body {
  font-size: 1.4em;
}
table {
  border-collapse: collapse;
}

td {
  width: 2em;
  height: 2em;
  text-align: center;
}

.border-left {
  border-left: 1px solid black;
}

.border-top {
  border-top: 1px solid black;
}

.border-bottom {
  border-bottom: 1px solid black;
}

.bold {
  font-weight: bold;
}

.dim {
  color: #ccc;
}

.dim td {
  font-size: 0.7em;
  width: 1em;
  height: 0.7em;
  border-color: #ccc;
}

.orange {
  color: #8b09ea;
  font-weight: bold;
}

.green {
  color: #463bdc;
  font-weight: bold;
}

.blue {
  color: #28b561;
  font-weight: bold;
}

.red {
  color: red;
}

.footer {
  font-size: 0.6em;
  text-align: right;
}
